[{rabbitmq_auth_backend_ldap, [
  {vhost_access_query, {in_group, "cn=1,ou=groups,dc=fly-develop,dc=com"}},
  {topic_access_query, {in_group, "cn=1,ou=groups,dc=fly-develop,dc=com"}},
  {resource_access_query,
    {for, [
      {resource, exchange, {for, [
        %%% exchange 是否可配置
        {permission, configure, {constant, false}},
        %%% exchange 是否可写
        {permission, write, {constant, false}},
        %%% exchange 是否可读
        {permission, read, {constant, true}}
      ]}},
      %%% queue 权限
      {resource, queue, {
        {for, [
          %%% 队列是否可配置，false不可配置
          {permission, configure, {constant, false}},
          %%% 队列是否可读
          {permission, read, {constant, true}},
          %%% 队列是否可写
          {permission, write, {constant, false}}
        ]}
      }}
    ]}
  },
  %%% 设置tag
  {tag_queries, [
    %%% 为true表示通过ldap登录的用户有所有权限
    {administrator, {constant, false}},
    %%% 这个标签表示是否可以访问web管理界面
    {management, {constant, true}},
    %%% 是否可以查看节点监控数据
    {monitoring, {constant, true}}
  ]}
]}].