[{rabbitmq_auth_backend_ldap, [
  {vhost_access_query, {in_group, "cn=1,ou=groups,dc=fly-develop,dc=com"}},
  {topic_access_query, {in_group, "cn=1,ou=groups,dc=fly-develop,dc=com"}},
  {resource_access_query,
    {for, [
      {resource, exchange, {for, [
        %%% exchange 是否可配置
        {permission, configure, {constant, false}},
        %%% exchange 是否可写
        {permission, write, {constant, false}},
        %%% exchange 是否可读
        {permission, read, {constant, true}}
      ]}},

      %%% queue 权限
      {resource, queue, {constant, true}}
    ]}
  },
  %%% 设置tag
  {tag_queries, [{administrator, {constant, false}}, {management, {constant, true}}, {monitoring, {constant, true}}]}
]}].