[Unit]
Description=Gogs Server
After=network.target

[Service]
Type=simple
User=git
Group=git
ExecStart=/usr/local/gogs/gogs web
Restart=always

[Install]
WantedBy=multi-user.target